/* styles sheet */

/* import stuff */
@font-face{	
font-family:Amatic;
src:url("fonts/AmaticSC-Regular.ttf");
}
@font-face{	
font-family:JosefinSans;
src:url("fonts/JosefinSans-Regular.ttf");
}

/* master reset */
body, div, h1, h2, h3, p, ul, ol, li, img, table, tr, td, a{
margin:0;
padding:0;
/*font-family:"calibri", Arial, Helvetica, sans-serif;*/
font-family: JosefinSans;}

/*-----------------------------------------------*/

/* format styles */
body{}
h1{	color: rgb(252,163,17);
	font-family: Amatic;
	padding: 1.5vmin;}
h2{	font-family: Amatic;}
h3{	font-family: Amatic;
	font-style: italic;}
h4{	color: rgb(150,150,150);
	font-style: italic;}
p, li{font-size: 14px;
	line-height: 1.5;
	padding: 5px;
	font-family: JosefinSans;}
li{	margin-left: 4vmin;}
blockquote{font-style: italic;}
a:link{color: rgb(252,163,17);
	text-decoration: none;}
a:visited{color: rgb(252,163,17);
	text-decoration: none;}
a:hover{color: rgb(252,163,17);
	text-decoration: underline;}

/* id styles */
#wrapper{
	background-color: white;
	background-color: rgba(245,245,245,1);
	position: relative;
	min-height:100vh;}
#nav-bar{
	position: fixed;
	top: 0;
	width: 100%;
	height: 54px;
	text-align: right;}
#name{
	float: left;
	background: none;}
#name h1{
	font-size: 36px;
	font-weight: bold;
	padding: 4px 0 0px 10px;}
#title{
	clear:both;
	margin-top: 54px;}
#title-none{
	clear:both;
	margin-top: 54px;}
#content{
	clear: both;
	margin: 0 auto 0 auto;
	padding: 0.5vw;
	width: 100%;
	max-width: 900px;
	padding-bottom:40px;}
#footer{
	height:150px;
	color: rgb(255,255,255);
	font-weight: bold;
	padding:40px;
	text-align: center;
	background-color: rgb(20,30,25);}

/*-----------------------------------------------*/

/* class styles */

/* background class */
#wrapper.index{
	background-image: url(images/background/bw_road.jpg);
	background-position:center bottom;
	background-size:cover;
	background-repeat:no-repeat;}
#wrapper2{
	background-color: rgba(255,255,255,1);}

/* title image */
#title{
	background-image: url(images/background/grey_clouds.jpeg);
	background-position:right bottom;
	background-size:cover;
	background-repeat:no-repeat;
	background-color: rgb(250,250,250);
	border-bottom: 2px solid white;}

/* color class */
.bg{
	background-color: rgba(255,255,255,0.9);}
.collapsibleList.bg a{
	background-color: rgba(252,163,17,0.9);
	color: white;}
.bborder{}

/* nav-bar class styles */
#navbar p, li{
	padding: 0;}
.collapsibleList li{
	margin-left: 0;}
.collapsibleList li > input + * {
	display: none;}
.collapsibleList li > input:checked + * {
	display: block;
	z-index: 1;}
.collapsibleList li > input {
	display: none;}
.collapsibleList label {
	cursor: pointer;
	width: 100%;
	line-height: 54px;}
.collapsibleList label img{
	height: 36px;
	padding: 7px 12px;}
.collapsibleList.item{
	list-style-type: none;
	line-height: 18vh;
	font-size: 5vmin;
	width: 100%;
	text-align: center;}
.collapsibleList a:link{
	display: block;
	text-decoration: none;}
.collapsibleList a:visited{}
.collapsibleList a:hover{
	text-decoration: underline;}

/* title classes */
#title{
	padding-top: 2vmin;
	padding-bottom: 2vmin;
	text-align: left;
	/*color: rgb(252,163,17);*/}
#title.index{
	background: none;
	border: none;
	padding-top: 4vmin;
	padding-bottom: 1vmin;
	text-align: center;
	color: rgb(0,0,0);}
#title.index h1{
	color: rgb(0,0,0);}
#title h1{
	font-size: 12vmin;}
#title h2{
	font-size: 8vmin;
	font-size: 32px;}
#title.index p{
	font-size: 3vmin;
	padding: 0;}
.social-media img{
	width: 8vmin;
	padding: 1vmin;
}
#title-box{
	background-color: rgba(252,163,17,0.8);
	margin: 4vmin auto 4vmin auto;
	padding: 20px;
	width: 70%;
	max-height: 300px;
	max-width: 450px;
	color:white;
}

/* footer classes */
#footer-title{
	text-align: center;
	color: rgb(252,163,17);}
#footer-title h1{
	font-size: 40px;
	padding:0;}
#footer-title p{
	font-size: 10px;
	padding-bottom:0px;}
#footer.index{
	padding-top: 8vmin;
	color: rgb(252,163,17);}
.footer.social-media img{
	width: 32px;
	padding: 1px;
	padding-bottom: 20px;}

/*-----------------------------------------------*/	

/* individual page design */

/* index page */
#content.index{
	background-color: rgba(20,30,25,0);
	padding: 1vmin;
	text-align: center;}
#content.index blockquote{
	color: rgb(0,0,0);
	font-size: 12px;
	font-weight: bold;
	line-height: 1.8;}
#footer.index{
	background-color: transparent;}

/* about page */
#bio{
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
}
#bio img{
	/*float: right;*/
	margin: 0 auto;
	display: block;
	width: 30%;
	padding: 10px;
}
#cv img{
	width: 70%;
	max-width: 450px;
	display: block;
    margin: 0 auto 10px auto;
}
	
/* research classes */
.research{}
.research.box{
	width: 96%;
	padding: 1vmin;
	margin: 1vmin auto;
	/*border: solid 2px rgb(252,163,17);*/
	background: rgba(255,255,255,0.8);}
.research.box h2{
	padding-bottom: 10px;}
.box{}
.acknowledgements {
	text-align: center;}
.acknowledgements img{
	height: 10%;
	max-height: 75px;
	padding: 5%;
	margin: 0 auto;}

/* blog classes */
.featured-blog{
	width: 90%;
	margin: 2.5% auto;
	/*background: rgba(252,163,17,1);
	border: solid 2px rgba(252,163,17,1);*/
	background-color: rgb(255,255,255);
	border: solid 0 rgba(255,255,255,1);
	overflow: hidden;
	text-align: center;
	max-width: 450px;}
.featured-blog h2{
	color: rgb(0,0,0);
	padding: 5px;
	margin: 0;}
.featured-blog h4{
	/*color: rgb(255,255,255);*/
	font-style: italic;
	padding: 5px;
	margin: 0;}
.featured-blog img{
	padding: 0;
	width: 100%;}
.featured-blog a:link{}
.featured-blog a:visited{}
.featured-blog a:hover{
	background-color: rgb(252,163,17);
	text-decoration: none;}
.blog{
	width: 90%;
	margin: 2.5% auto;
	/*background: rgba(252,163,17,1);
	border: solid 2px rgba(252,163,17,1);*/
	background-color: rgb(255,255,255);
	border: solid 0 rgba(255,255,255,1);
	overflow: hidden;
	text-align: center;
	max-width: 300px;}
.blog h2{
	color: rgb(0,0,0);
	padding: 5px;
	margin: 0;}
.blog h4{
	/*color: rgb(255,255,255);*/
	font-style: italic;
	padding: 5px;
	margin: 0;}
.blog img{
	padding: 0;
	width: 100%;}
.blog a:link{}
.blog a:visited{}
.blog a:hover{
	background-color: rgb(252,163,17);
	text-decoration: none;}
.other-post{
	padding: 10px 10px 0px 5%;}
.other-post h2{
	font-weight: 500;
	display: inline;
	color: rgb(0,0,0);}
.other-post h4{
	font-weight: normal;
	display: inline}
.other-post a:link{}
.other-post a:visited{}
.other-post a:hover{
	text-decoration: none;}
.other-post a:hover h2{
	color: rgb(252,163,17);}
.intro{
	text-align: left;
	padding: 0;
	margin: 0;}
.story {
	text-align: center;}
.story h1, h4{
	margin: 0}
.story img{
	width: 90%;
	padding: 3%;
	max-width: 300px;}
.video-wrap{
	width: 100%;
	max-width: 500px;
	margin: 0 auto;}
.video-container{
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;}

#shareButtons{
	padding: 4vmin;
	width: 150px;
	margin:0 auto;}

/* contact page */
.contact{
	text-align: left;}
.contact p{
	padding-left: 8%;}
.contact a:link{
	color: rgb(0,0,0);}
.contact a:visited{
	color: rgb(0,0,0);}
.contact a:hover{
	color: rgb(252,163,17);
	text-decoration: none;}
.contact img{
	width: 40px;
	padding: 10px;
	vertical-align: middle;}


/* general */
.hline{
	margin: 2vmin auto;
	width: 40%;
	border-bottom: solid 2px rgb(0,0,0);}
.center{
	text-align: center;}
.clearline{
	clear: both;}
.Limage{
	width: 100%;
	max-width:600px;
	margin: 5px auto;}


/*-----------------------------------------------*/

/* media queries - desktop*/
@media all and (min-width:768px){
	/* format styles */
	h1{	font-size: 28px;}
	h2{	font-size: 24px;}
	h3{	font-size: 20px;}
	p, li{	font-size: 18px;
		line-height: 1.5;
		padding-bottom: 2vmin;}
	
	/* color class */
	.hover a:link{
		background: rgba(255,255,255,0);
		color: rgb(0,0,0);
	}
	.hover a:visited{
		background: rgba(255,255,255,0);
		color: rgb(0,0,0);
	}
	.hover a:hover{
		border-bottom: solid 3px rgba(252,163,17,1);
		background: rgb(252,163,17);
		color: rgb(255,255,255);
	}
	/* nav-bar */
	#nav-bar{
		height: 60px;}
	.collapsibleList li > input + * {
		display: block;}
	.collapsibleList ul{
		float: right;
		width: 500px;}
	.collapsibleList.item{
		position: relative;
		display: table-cell;
		float: left;
		list-style-type: none;
		line-height: 3;
		font-size: 20px;
		width: 20%;
		max-width: 100px;
		text-align: center;}
	.collapsibleList label{
		display: none;}
	.collapsibleList a:link{
		display: block;}
	.collapsibleList a:hover{
		text-decoration: none;}
	
	#content{
		margin: 0 auto 0 auto;}
	#content.index blockquote{
		font-size: 24px;}
	#title{
		margin-top: 60px;}
	#title h2{
		font-size: 8vmin;
}


/* media queries - >mobile*/
@media all and (min-width:450px){
	#title-box{
		margin: 4vmin auto 8vmin 15%;}
	.collapsiblelist.item.hover{
	    margin: 0 0 0 0;
	    border: 0 0 0 0;
	    padding: 0 0 0 0;}
	/* blog classes */
	.blog img{
		padding: 0;
		width: 100%;}
	.blog{
		display: inline-block;
		width: 30%;
		padding: 0;
		margin: 1.4%;}
		
	/* about page */
	.about iframe{
		width: 40%;
		padding: 10px;}
	.about.floatL{
		float: left;}
	.about.floatR{
		float: right;}
	.about.what{
		padding-top: 6vh;}
}